/* Resume Template */


.myimg
{
    /*border: 1px solid black;*/
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.myimg1
{
    /*border: 1px solid black;*/
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.background
{
    background-color: aqua;
}

.back
{
    background-color: blue;
}